<!DOCTYPE html>
<html>
  <head>

    <title>Collect it</title>

    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
    <script type='text/javascript' src='/javascripts/app.js'></script>

  </head>
  <body>

    <div class='container'>

      <img src='<%= product.image %>' />

      <div class='info'>
        <%= product.info %>
      </div>

  </body>
</html>
